<div class="row">
  <h2>历史订单</h2>
  <hr>
  <% if !@orders.blank? %>
  <% @orders.each do |order| %>
  <div class="panel panel-default">
    <div class="panel-header">
      <span class="order-time">
        <%= order.created_at.to_s(:long) %></span>
      <span class="order-id"><%= order.token %></span>
      <span>共<%= order.product_lists.count %>种商品</span>
      <span class="label label-default"><%= trans_order_aasm_to_string(order.aasm_state) %></span>
      <span class="pull-right">总计&nbsp;<strong class="total-price"><%= order.total %>
        </strong>&nbsp;RMB</span>
    </div>
    <table class="table">
      <tr>
        <th>商品明细</th>
        <th class="product_price">价格</th>
        <th class="quantity">数量</th>
      </tr>
      <% order.product_lists.each do |product_list| %>
      <tr>
        <td>
          <div class="pro_pic">
            <% if product_list.product_image.present? %>
            <%= image_tag(product_list.product_image) %>
          <% else %>
            <%= image_tag("nopic-thumb.jpg") %>
            <% end %>
          </div>
          <div class="title">
            <p class="pro-title"><%= product_list.product_name %></p>
            <p class="pro-look">品相：九五品</p>
          </div>
        </td>
        <td class="product_price"><%= product_list.product_price %></td>
        <td class="quantity"><%= product_list.quantity %></td>
      </tr>
      <% end %>
    </table>
    <div class="panel-footer">
      <% case order.aasm_state %>
      <% when "order_placed" then %>
      <%= link_to("支付","#", method: :post, class: "btn btn-danger") %>
      <%= link_to("取消订单", to_cancell_order_account_order_path(order.token), method: :post, class: "btn btn-warning") %>
      <% when "paid" then %>
      <%= link_to("取消订单",to_cancell_order_account_order_path(order.token), method: :post, class: "btn btn-warning") %>
      <% when "shipped" then %>
      <%= link_to("申请退货","#", method: :post, class: "btn btn-success") %>
      <% when "order_cancelled" then %>
      <%= link_to("删除订单",account_order_path(order.token), method: :delete, class: "btn btn-warning") %>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <div class="well">
    <span class="text-center">订单记录为空。</span>
  </div>
  <% end %>

</div>
