<div class="row">
  <h2 class="text-center">历史订单</h2>
  <% if !@orders.blank? %>
  <% @orders.each do |order| %>
  <div class="panel panel-default col-md-10 col-md-push-1">
    <div class="panel-body">
      <span><%= order.created_at %>&nbsp;&nbsp;<%= order.token %></span>
      <span>共<%= order.product_lists.count %>种商品</span>
      <span class="pull-right"><%= order.aasm_state %>,总计<%= order.total %>RMB</span>
    </div>
    <table class="table">
      <tr>
        <th>商品明细</th>
        <th>价格</th>
        <th>数量</th>
      </tr>
      <% order.product_lists.each do |product_list| %>
      <tr>
        <td><%= product_list.product_name %></td>
        <td><%= product_list.product_price %></td>
        <td><%= product_list.quantity %></td>
      </tr>
      <% end %>
    </table>
    <div class="panel-footer">
      <% case order.aasm_state %>
      <% when "order_placed" then %>
      <%= link_to("支付","#", method: :post, class: "btn btn-danger") %>
      <%= link_to("取消订单", to_cancell_order_account_order_path(order.token), method: :post, class: "btn btn-warning") %>
      <% when "paid" then %>
      <%= link_to("取消订单",to_cancell_order_account_order_path(order.token), method: :post, class: "btn btn-warning") %>
      <% when "shipped" then %>
      <%= link_to("申请退货","#", method: :post, class: "btn btn-success") %>
      <% when "order_cancelled" then %>
      <p class="label label-warning">已取消</p>
      <% end %>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="col-md-12">
    订单记录为空。</div>
  <% end %>

</div>
