<div class="col-md-12">
  <% if !@order.is_paid %>
  <h2>订单明细-<span class='order-state-info'>未支付</span>
  </h2>
<% else %>
  <h2>订单明细-<span class='order-state-info'>已支付</span>
  </h2>
  <% end %>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th style="text-align:left">
          <span class='text-left'>商品明细</span>
        </th>
        <th class="product_price" style="text-align:left">单价</th>
        <th class="quantity" style="text-align:left">数量</th>
      </tr>
    </thead>
    <tbody>
      <% @product_lists.each do |product_list| %>
      <tr>
        <td>
          <%= product_list.product_name %>
        </td>
        <td><%= product_list.product_price %>
          元</td>
        <td><%= product_list.quantity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="total clearfix">
    <span class="pull-right">
      总计<span class="total-price"><%= @order.total %></span>RMB</span>
  </div>

  <h2>寄送信息</h2>
  <hr>

  <table class="table">
    <tbody>
      <tr>
        <td style="width:100px;">
          <strong>收货人：</strong>
        </td>
        <td><%= @order.shipping_name %>
        </tr>
        <tr>
          <td>
            <strong>收货地址：</strong>
          </td>
          <td><%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
    <div class="group pull-right">
      <% if !@order.is_paid %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#pay_order">支付</button>

    <% else %>
      <p class="text-center">此订单已完成付款。</p>
      <% end %>
    </div>

  </div>

  <div id="pay_order" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">&yen;支付</h4>
        </div>
        <div class="modal-body">
          <p>
            <%= image_tag("/images/payment.jpg", class: "pay") %>
          </p>
        </div>
        <div class="modal-footer text-center">
          <%= link_to("已完成支付", pay_order_path(@order.token), method: :post, class: "btn btn-danger center-block paid-assert") %>
        </div>
      </div>
    </div>
  </div>
