<%= simple_form_for [:admin,@product] do |f| %>
<div class="form-group">
  <%= f.input :title, label: "书名" %>
  <%= f.input :writer, label: "作者" %>
  <%= f.input :publisher, label: "出版社" %>
  <%= f.input :price, label: "价格" %>
  <%= f.input :stock, label: "库存" %>
  <%= f.input :coment_title, label: "评论标题" %>
  <%= f.input :description, label: "评论正文" %>
  <%= f.input :image, label: "上传图书封面" %>
  <%= label_tag("是否作为推荐商品？") %><%= f.collection_radio_buttons :is_recommend, [[true, '是'], [false, '否']], :first, :last %>
  <%= f.input :bg_image, label: "上传推广图片" %>
  <%= f.input :is_hidden, label: "上架", as: :boolean, checked_value: false, unchecked_value: true %>
</div>

<%= f.submit "保存", class: "btn btn-primary", data: {disable_with: "上传中"} %>
<% end %>
