<tr>
  <td><%= product.id %></td>
  <td>
    <div class="product">
      <%= link_to(admin_product_path(product)) do %>
      <div class="pro_pic">
        <% if product.image? %>
        <%= image_tag(product.image_url(:thumb)) %>
      <% else %>
        <%= image_tag("nopic-thumb.jpg") %>
        <% end %>
      </div>
      <% end %>
      <div class="title">
        <%= link_to(product.title, admin_product_path(product)) %>
        <% if product.is_recommend %>
        <p>
          <span class="label label-warning">推荐商品</span>
        </p>
        <% end %>
      </div>
    </div>
  </td>
  <td><%= product.quality %></td>
  <td><%= product.price %></td>
  <td><%= product.stock %></td>
  <td><%= product.updated_at %></td>
  <td><%= trans_is_hidden(product.is_hidden) %></td>
  <td>
    <div class="operate">
      <p><%= link_to('编辑', edit_admin_product_path(product), class: "btn btn-success btn-sm") %>
        <% if product.is_hidden %>
        <%= link_to('上架', publish_admin_product_path(product), method: :post, class: "btn btn-primary btn-sm") %>
      <% else %>
        <%= link_to('下架', hide_admin_product_path(product), method: :post, class: "btn btn-warning btn-sm") %>
        <% end %>
        <%= link_to('删除', admin_product_path(product), method: :delete, data: { confirm: "Are you sure？" }, class: "btn btn-danger btn-sm") %>
      </p>
    </div>
  </td>
</tr>
