<div class="row content">
  <div class="col-md-3 col-sm-3 sidenav">
    <div class="thumbnail text-center">
      <% if @product.image? %>
      <%= image_tag(@product.image_url(:thumb)) %>
    <% else %>
      <%= image_tag("30712461.jpg") %>
      <% end %>
      <p class="book_title">
        <strong><%= @product.title %></strong>
      </p>
      <p class="author"><%= @product.writer %></p>
      <p class="publisher"><%= @product.publisher %></p>
      <p>
        <span><%= @product.quality %></span>&nbsp;&nbsp;
        <span>库存:</span>
        <span><%= @product.stock %></span>
      </p>
      <p class="book-price">
        <span>&yen;</span>
        <span><%= @product.price %></span>
      </p>
    </div>

  </div>
  <div class="col-md-9 col-sm-9">
    <h3><%= @product.coment_title %></h3>
    <hr>
    <p><%= simple_format(@product.description) %></p>
    <% if current_user.present? and current_user.is_admin %>
    <%= link_to(edit_admin_product_path(@product), class: "btn btn-danger pull-right") do %>
    <i class="fa fa-pencil"></i><% end %>
  <% else %>
    <% if @product.stock == 0 %>
    <%= link_to("加入购物车", "#", method: :post, class: "btn btn-danger disabled pull-right") %>
  <% else %>
    <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger pull-right") %>
    <% end %>

    <% end %>
  </div>
</div>
